/* O código CSS abaixo define o estilo da página. */

* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: Helvetica; 
}

body { 
    display: flex; 
    align-items: center; 
    min-height: 100vh; 
    background: url('../img/background.jpg') no-repeat fixed center; 
    background-size: cover; 
    backdrop-filter: blur(10px); 
    color: #111; 
}

body::before{
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'PROJETO EDUCACIONAL | CURSO: HORA DE CODAR';
    position: absolute;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    background-color: #945bf1;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

body::after{
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'Adicione e gerencie suas tarefas do dia a dia e seja mais produtivo!';
    position: absolute;
    width: 100vw;
    height: auto;
    top: calc(10%);
    left: 0;
    background-color: #3ac7ff;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.btnTest{
    display: flex;
    align-items: center;
    justify-content: center;
    content: '<input type=button>';
    position: absolute;
    width: 100vw;
    height: 45px;
    top: 60px;
    left: 0;
    background-color: #f5ff70;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}

.btnTest button {
    padding: .6rem;
}


#todo-container { display: flex; flex-direction: column;

min-width: 410px;
height: auto;
max-height: 500px;

margin: 0 auto;
padding: 1rem;

background-color: rgba( 0, 0, 0, .8);
backdrop-filter: blur(15px);
box-shadow: 5px 5px 12px 6px #111;

border-radius: 10px;
border: 1px solid white;
}


/* O código CSS abaixo define o estilo do input de tarefa. */

#todo-input { 
    width: 100%; 
    height: 30px; 
    border: 1px solid #111; 
    padding: 5px; 
    border-radius: 5px; 
}

/* O código CSS abaixo define o estilo da lista de tarefas. */

.todo-item { 
    display: flex; 
    align-items: center; 
    padding: 5px 0; 
    border-bottom: 1px solid #111; 
}

.todo-item:last-child { 
    border-bottom: none; 
}

.todo-item .todo-text { 
    flex: 1; 
    padding: 0 10px; 
}

.todo-item .todo-delete { 
    cursor: pointer; 
    color: #111; 
}

header {
color: cornflowerblue;
text-align: center;
}

/* CONFIGURAÇÕES DO FORMULÁRIO DE ADIÇÃO DE TAREFAS */
.todo-form{
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    min-width: 100%;
}

.todo-form-control {
    display: flex;
}
        
.form-inputs-control{
    display: flex;
    gap: .2rem;
    flex: 4;
    margin-right: .2rem;
}
        
.form-inputs-control input, #filter-select {
    flex: 1;
    padding: .2rem .4rem;
    height: 40px;
    outline-color: #e39b56;
    border: none;
    border-radius: 5px;
}

.form-buttons-control {
    display: flex;
}

#add-button i { 
    pointer-events: none;
}

.form-buttons-control button i {
    pointer-events: none;
}


/* CONFIGURAÇÕES DO FORMULÁRIO DE EDIÇÃO DA TAREFA */
#edit-form {
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
}

.edit-form-control{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

#editing-inputs{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    
    flex: 1;
}

#editing-inputs input {
    height: 35px;
    padding: .2rem .4rem;
    border-radius: 5px;
    border: none;
}

#editing-button {
    display: flex;
    gap: .2rem;
    justify-content: flex-end;
}

#editing-button button{
    height: 35px;
    
}

#editing-button #todo-save-edit {
    width: 35px;
}

#editing-button #todo-save-edit i {
    pointer-events: none;
}

#editing-button #todo-cancel-edit {
    padding: .2rem .4rem;
}



/* CONFIGURAÇÃO DO FORMULÁRIO DE BUSCA DAS TAREFAS */
#toolbar {
    flex-direction: row;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    padding: .4rem .6rem;
}

#search #form {
    display: flex;
}


#filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: .3;
    padding: .4rem .6rem;
}

option {
    max-width: 100%;
}


/* CONFIGURAÇÕES DOS CARDS DAS TAREFAS */
#todo-task-list {
    flex-direction: column;

    padding: .6rem .2rem;
    flex: 3;
    max-height: 200px;
    overflow-y: scroll;
    max-height: 100%;
}

.todo {
    display: flex;
    flex-direction: column;
    padding: .4rem;

    border-radius: 5px;
    background-color: #fdfdfd;
    border: 1px solid;
    margin-bottom: .4rem;
}

.header-content-task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .4rem .2rem;
    gap: .4rem;
    border-bottom: 1px dashed;
}

.body-content-task {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: .2rem;

    padding: .4rem;
    min-height: 100%;
}

h3 {
    display: flex;
    align-items: center;

    flex: 1;
    color: #e39b56;
    font-weight: bold;
    font-size: 1rem;
    height: 15px;
}

.task-info {
    display: flex;
    align-items: center;

    font-size: .6rem;
    background-color: cornflowerblue;
    padding: .2rem .4rem;
    height: 100%;
    border-radius: 15px;
    border: 1px solid cornflowerblue;
}

.description-task {    
    padding: .2rem;
    font-size: .8rem;
    border: 1px dashed #999;
    border-radius: 5px;
    border-style: inset;
    width: 90%;
    overflow-y: scroll;
    height: 80px;
}

.button-controller-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 10%;
}

.button-controller-area button {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-width: 1px;
}

.button-controller-area button i {
    pointer-events: none;
}

.done {
    background-color: #111; 
    border: 1px solid #ccc;
}

.done h3, .done .description-task {
text-decoration: line-through;
color: #999;
}

.done .task-info{
    background-color: chartreuse;
}

input:hover, button:hover, select:hover {
    border-color: #e39b56;
} 

/*  <<<<<<<<<<<< CLASSES INDEPENDENTES PARA CONFIGURAÇÕES DIVERSAS >>>>>>>>>>>>  */

/* CONFIGURAÇÃO DE OCULTAR FORMULÁRIOS */
.hide{
    display: none;
}

/* CONFIGURAÇÃO PADRÃO DOS BOTÕES */
.btnControl {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: none;
}

/* CLASSE DE CONFIGURAÇÃO DOS SUBTITULOS */
.subtitle {
    display: flex;
    align-items: flex-end;

    color: #e39b56;
    font-weight: bold;
    margin-bottom: .4rem;
}


/*  <<<<<<<<<<<< CONFIGURAÇÕES DE RESPONSIVIDADE >>>>>>>>>>>>  */
@media (max-width: 470px) {
    #todo-container {
        min-width: 95%;
    }

    .form-control{
        display: flex;
        gap: .6rem;
        flex-direction: column;
    }


        .form-inputs-control {
            display: flex;
            flex: auto;
            flex-direction: column;
            gap: .3rem;
            
            margin: 0;
        }

        .form-inputs-control input {
            width: 100%;
            border-radius: 5px;
        }

        .form-buttons-control {
            justify-content: flex-end;
            align-items: center;
            flex: .6;
            width: 100%;
            min-height: 100%;       
        }

        .form-buttons-control button {
            border-radius: 5px;
            width: 100%;
            height: 25px;
            background-color: cornflowerblue;
            color: white;
            border: none;
        }

        .fa-plus, .fa-solid {
            font-size: 1rem;
        }

    #toolbar {
        flex-direction: column;
    }

        #search {
            order: 2;
        }

        #search #form .form-inputs-control {
            margin-right: .2rem;
        }

        #search #form .form-buttons-control {
            justify-content: center;
            align-items: center;
        }

        #filter {
            order: 1;
        }


        .todo, .done {
            max-width: 100%;
            flex-direction: column;
        }

        .todo .button-action-todo-list, .done .button-action-todo-list {
            justify-content: flex-end;
            gap: .8rem;
        }

            .button-action-todo-list button {
                width: 30px;
                height: 30px;
            }
}