* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('../img/background.jpg') no-repeat fixed center;
    background-size: cover;
    backdrop-filter: blur(10px);
    color: #111;
}

#todo-container {
    display: flex;
    flex-direction: column;

    /* tamanho do container */
    max-width: 410px;
    height: auto;
    max-height: 500px;

    margin: 0 auto;
    padding: 1rem;

    background-color: rgba( 0, 0, 0, .8);
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 12px 6px #111;

    border-radius: 10px;
    border: 1px solid white;
}

    header {
    color: cornflowerblue;
    text-align: center;
    }


.todo-form {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}


#edit-form {
    justify-content: space-between;
    color: aqua;
}

#editing-inputs, #editing-button {
    display: flex;
    gap: .2rem;
}

/* Classes independentes */


.subtitle {
    display: flex;
    align-items: flex-end;

    color: #e39b56;
    font-weight: bold;
    margin-bottom: .4rem;
}

/* Estilização de formulários */
.form-control {
    display: flex;
}

    .form-inputs-control{
        display: flex;
        gap: .1rem;
        flex: 4;
        margin-right: .1rem;
    }

        .form-inputs-control input, #filter-select {
            flex: 1;
            padding: .2rem .4rem;
            height: 40px;
            outline-color: #e39b56;
        }

    .form-buttons-control {
        display: flex;
        flex: 1;
    }

        .form-buttons-control button {
            width: 40px;
            height: 40px;
        }



#toolbar {
    flex-direction: row;
}

    #search {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 2;

        padding: .4rem .6rem;
    }

    #search form {
        display: flex;
    }

    #filter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: .4rem .6rem;
    }

    option {
        max-width: 100%;
    }

#todo-task-list {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    flex: 1;

    padding: .6rem .2rem;
    margin-top: 1rem;
    flex: 3;
    height: 100px;
    overflow-y: scroll;
}

    .todo {
        display: flex;
        padding: .4rem;

        border-radius: 5px;
        background-color: #fdfdfd;
    }

        .todo-text-itens {
            display: flex;
            flex-direction: column;
            gap: .2rem;

            padding: 0 .2rem;
            min-height: 100%;
            min-width: 80%;
        }

            .header-content-task {
                display: flex;
                justify-content: space-between;

                border-bottom: 1px solid #999;
                padding: .4rem .2rem;
            }

                .title-task {
                    display: flex;
                    align-items: center;

                    color: #e39b56;
                    font-weight: bold;
                    font-size: 1rem;
                }

                .item-info {
                    display: flex;
                    gap: .2rem;
                    align-items: center;

                    font-size: .6rem;
                    background-color: cornflowerblue;
                    padding: .2rem .4rem;
                    height: 100%;
                    border-radius: 15px;
                }

            .description-task {
                padding: .2rem;
                font-size: .8rem;
            }

        .button-action-todo-list {
            display: flex;
            align-items: center;
            gap: .1rem;
            

            padding: .1rem .2rem;
        }

        .button-action-todo-list button {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border-width: 1px;
        }

    .done {
        display: flex;
        padding: .4rem;

        border-radius: 5px;
        background-color: #111; 
        opacity: .8;
        border: 1px solid #ccc;
    }

    .done .title-task, .done .description-task {
        text-decoration: line-through;
        color: #333;
    }

    .done .item-info {
        background-color: transparent;
        border: 1px solid white;
        color: chartreuse;
    }

    .hide {
        display: none;
    }

    input:hover, button:hover, select:hover {
        border-color: #e39b56;
    } 


@media (max-width: 470px) {
    #todo-container {
        min-width: 95%;
    }

    .form-control{
        display: flex;
        gap: .6rem;
        flex-direction: column;
    }


        .form-inputs-control {
            display: flex;
            flex: auto;
            flex-direction: column;
            gap: .3rem;
            
            margin: 0;
        }

        .form-inputs-control input {
            width: 100%;
            border-radius: 5px;
        }

        .form-buttons-control {
            justify-content: flex-end;
            align-items: center;
            flex: .6;
            width: 100%;
            min-height: 100%;       
        }

        .form-buttons-control button {
            border-radius: 5px;
            width: 100%;
            height: 25px;
            background-color: cornflowerblue;
            color: white;
            border: none;
        }

        .fa-plus, .fa-solid {
            font-size: 1rem;
        }

        .form-buttons-control #add-button .fa-solid, .form-buttons-control #add-button .fa-plus {
            /* color: transparent; */
        }

    #toolbar {
        flex-direction: column;
    }

        #search {
            order: 2;
        }

        #search form .form-inputs-control {
            margin-right: .2rem;
        }

        #search form .form-buttons-control {
            justify-content: center;
            align-items: center;
        }

        #filter {
            order: 1;
        }


        .todo, .done {
            max-width: 100%;
            flex-direction: column;
        }

        .todo .button-action-todo-list, .done .button-action-todo-list {
            justify-content: flex-end;
            gap: .8rem;
        }

            .button-action-todo-list button {
                width: 30px;
                height: 30px;
            }
}